<template name="Header">
  <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'Home'}}">Social Tracking ® 2016</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav ">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Twitter <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'TwitterTokensForm'}}"><b>Tokens</b></a></li>
                 <li><a href="{{pathFor 'ListTwitterSearch'}}"><b>Search</b></a></li>
                <li><a href="#">Targets</a></li>
                <li><a href="#">Data</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Streaming</li>
                <li><a href="#">Target</a></li>
                <li><a href="#">Tracking</a></li>
              </ul>
            </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facebook <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Tokens</a></li>
                <li><a href="#">Targets</a></li>
                <li><a href="#">Data</a></li>
              </ul>
            </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instagram <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Tokens</a></li>
                <li><a href="#">Targets</a></li>
                <li><a href="#">Data</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>