<template name="Home">
  <div class="container">
  	<h1>Bienvenido a Social Tracking ® 2016</h1>
<!--        <button type="button" class="btn btn-default twitter">Leer Twitter</button>
       <button type="button" class="btn btn-default facebook">Leer Facebook</button>
       <button type="button" class="btn btn-default instagram">Leer Instagram</button> -->
   </div>
    <div class="container">
    <div class="alert alert-info">
  	<strong>Importante!</strong> Lo primero de que debes hacer es insertar los tokens a la plataforma para Habilitar sus funciones.
	</div>
    </div>
    <div class="container" style="margin-top: 30px;">
  	<div class="row">
	  <div class="col-sm-6 col-md-4" align="center">
	    <div class="thumbnail">
	      <img src="https://cdn3.iconfinder.com/data/icons/social-icons-5/607/Twitterbird.png" alt="Twitter" style="height:200px;{{logocolor twcant}}">
	      <div class="caption">
	        <h3>Twitter Tokens</h3>
	        <h2>{{twcant}}</h2>
	        <p><a href="{{pathFor 'TwitterTokensForm'}}" class="btn btn-default" role="button">Agregar+</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4" align="center">
	    <div class="thumbnail">
	      <img src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/512/social-facebook-button-blue-icon.png" alt="Facebook" style="height:200px;">
	      <div class="caption">
	        <h3>Facebook Tokens</h3>
	        <h2>{{fbcant}}</h2>
	        <p><a href="{{pathFor 'FacebookTokensForm'}}" class="btn btn-default" role="button">Agregar+</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4" align="center">
	    <div class="thumbnail">
	      <img src="http://3835642c2693476aa717-d4b78efce91b9730bcca725cf9bb0b37.r51.cf1.rackcdn.com/Instagram_App_Large_May2016_200.png" alt="Instagram" style="height:200px;color:black;">
	      <div class="caption">
	        <h3>Instagram Tokens</h3>
	        <h2>0</h2>
	        <p><a href="#" class="btn btn-default" role="button">Agregar+</a></p>
	      </div>
	    </div>
	  </div>
	</div>
    <!-- <div class="col-md-4 tokens" align="center">
    <h3>TWITTER TOKENS</h3>
    <span><h4>0</h4></span>
    <span><button type="button" class="btn btn-primary">Agregar +</button></span>
    </div>
    <div class="col-md-4 tokens" align="center">
    <h3>FACEBOOK TOKENS</h3>
    <span><h4>0</h4></span>
    <span><button type="button" class="btn btn-primary">Agregar +</button></span>
    </div>
    <div class="col-md-4 tokens" align="center">
    <h3>INSTAGRAM TOKENS</h3>
    <span><h4>0</h4></span>
    <span><button type="button" class="btn btn-primary">Agregar +</button></span>
    </div> -->
    </div>
</template>
